/* We need to add display:inline in order to align the '>>' of the 'read more' link */
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic|Source+Code+Pro:200,300,400,500,600,700,900);
.post-excerpt p {
  display: inline; }

.highlight {
  background: #ffffff;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .c {
    color: #999988;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #999988;
    font-style: italic; }
  .highlight .cp {
    color: #999999;
    font-weight: bold; }
  .highlight .c1 {
    color: #999988;
    font-style: italic; }
  .highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000000;
    background-color: #ffdddd; }
  .highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #aa0000; }
  .highlight .gh {
    color: #999999; }
  .highlight .gi {
    color: #000000;
    background-color: #ddffdd; }
  .highlight .gi .x {
    color: #000000;
    background-color: #aaffaa; }
  .highlight .go {
    color: #888888; }
  .highlight .gp {
    color: #555555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaaaaa; }
  .highlight .gt {
    color: #aa0000; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #445588;
    font-weight: bold; }
  .highlight .m {
    color: #009999; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #445588;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #990000;
    font-weight: bold; }
  .highlight .nf {
    color: #990000;
    font-weight: bold; }
  .highlight .nn {
    color: #555555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf {
    color: #009999; }
  .highlight .mh {
    color: #009999; }
  .highlight .mi {
    color: #009999; }
  .highlight .mo {
    color: #009999; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #009999; }

@font-face {
  font-family: 'charterbold_italic';
  src: url("../fonts/charter_bold_italic-webfont.eot");
  src: url("../fonts/charter_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/charter_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'charterbold';
  src: url("../fonts/charter_bold-webfont.eot");
  src: url("../fonts/charter_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/charter_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'charteritalic';
  src: url("../fonts/charter_italic-webfont.eot");
  src: url("../fonts/charter_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/charter_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'charterregular';
  src: url("../fonts/charter_regular-webfont.eot");
  src: url("../fonts/charter_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/charter_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
aside {
  display: block;
  float: left;
  position: absolute;
  margin-left: 0;
  left: 2.5rem;
  width: 7rem;
  text-align: right;
  list-style-type: none;
  clear: both;
  margin-bottom: 1rem; }

.author-profile .author-meta {
  font-family: "charterregular", serif;
  letter-spacing: 0.01rem; }

body {
  font-family: "charterregular", serif; }

code, tt {
  font-family: "Source Code Pro", monospace, sans-serif; }

dl dt {
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap; }

dl dd {
  margin-left: 200px; }

@media only screen and (max-width: 500px) {
  dl dt {
    width: 90px;
    overflow: visible;
    clear: left;
    text-align: right;
    text-overflow: clip;
    white-space: normal; }

  dl dd {
    margin-left: 110px; } }
.post-footer .author {
  margin-right: 200px; }

.post-footer .follow {
  position: absolute;
  top: 6rem;
  right: 0;
  width: 160px; }

.post-footer .follow a {
  font-size: 1.8rem;
  display: inline-block;
  margin: 1rem 0rem 1.6rem 0rem;
  color: #BBC7CC;
  text-decoration: none; }

.post-footer .follow a.facebook_follow {
  color: #5676A4; }

.post-footer .follow a.twitter_follow {
  color: #53B6D8; }

.post-footer .follow a.linkedin_follow {
  color: #65A9D0; }

.post-footer .follow a.googleplus_follow {
  color: #dd4b39; }

.post-footer .follow a.stackoverflow_follow {
  color: #FF9900; }

.post-footer .follow a.github_follow {
  color: #000; }

.post-footer .follow a:hover {
  color: #50585D; }

@media only screen and (max-width: 500px) {
  .post-footer .author {
    margin: 0 0 2rem 0; }

  .post-footer .follow {
    position: static;
    width: auto; }

  .post-footer .follow a {
    margin: 1.4rem 0rem 0rem 0rem; } }
h1, h2, h3,
h4, h5, h6 {
  font-family: "Fira Sans", sans-serif; }

h1 {
  letter-spacing: -1px;
  text-indent: -1px; }

h2 {
  font-size: 3.6rem;
  letter-spacing: -.5px; }

html {
  font-family: "Fira Sans", sans-serif; }

.main-nav a {
  font-family: "Fira Sans", sans-serif; }

.page-title {
  font-family: "Fira Sans", sans-serif; }

.page-title .char14 {
  position: relative;
  top: .1em; }

.page-title .char16 {
  position: relative;
  top: -.025em; }

.page-title .char17 {
  position: relative;
  top: -.075em; }

.page-description {
  font-family: "charterregular", serif; }

.page-description a {
  color: rgba(255, 255, 255, 0.6); }

.page-description a:hover {
  color: rgba(255, 255, 255, 0.8); }

.page-follow {
  position: relative;
  top: 1rem;
  margin: 0;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "charterregular", serif;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.8); }

.no-cover .page-follow {
  color: rgba(0, 0, 0, 0.5); }

.home-template .page-follow {
  -webkit-animation: fade-in-down 0.9s;
  animation: fade-in-down 0.9s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.page-follow a {
  color: rgba(255, 255, 255, 0.6); }

.page-follow a:hover {
  color: rgba(255, 255, 255, 0.8); }

@media only screen and (max-width: 900px) {
  .page-follow {
    top: .9rem;
    font-size: 1.8rem;
    line-height: 1.5em; } }
@media only screen and (max-width: 500px) {
  .page-follow {
    top: .8rem;
    font-size: 1.6rem; }

  .archive-template .main-header .page-follow {
    display: none; } }
.pagination {
  font-family: "Fira Sans", sans-serif; }

.post-meta {
  font-family: "Fira Sans", sans-serif; }

pre {
  font-family: "Source Code Pro", monospace, sans-serif; }

samp {
  font-family: monospace, serif; }

.site-footer {
  font-family: "Fira Sans", sans-serif; }

textarea {
  font-family: inherit; }

.ui-helper-reset {
  list-style: none; }

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  display: inline;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: none; }

.ui-helper-clearfix {
  min-height: 0; }

.ui-tabs {
  display: inline; }

.ui-tabs .ui-tabs-nav {
  display: inline;
  margin: 0;
  padding: 0; }

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  display: inline;
  margin: 0; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: text; }

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer; }

.more {
  display: none; }

figcaption {
  font-style: italic; }
